<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= user.username %></title>
</head>
<body>
  <div id="me" class="container">
    <header>
      <h1><%= user.firstname %> <%= user.lastname %></h1>
      <nav>
        <a href="/me/posts">Posts</a>
        <a href="/logout">Logout</a>
      </nav>
    </header>
    <main>
      <img alt="" src=<%= user.avatar %>>
      <p><%= user.id %></p>
      <p><%= user.username %></p>
      <p><%= user.email %></p>
      <p><%= user.createdAt %></p>
      <p><%= user.updatedAt %></p>
      <p><%= user.deletedAt %></p>
    </main>
    <footer>
      <p>© 2023</p>
    </footer>
  </div>
</body>
</html>
